.page-title {
  position: fixed;
  background: #adc7ca;
  display: flex;
  margin-left: 100px;
  top: 0;
  left: 0;
  padding: 5px 5px 5px 50px;
  right: 0;
  z-index: 20;

  h3 {
    font-size: 23px;
    font-weight: bold;
    color: #333;
    margin: 5px;
  }
}

.user-table-con {
  margin: 0 20px;
  background-color: #fff;
  // border-radius: 10px;
  margin-left: 150px;
  .mat-mdc-header-cell {
    font-size: 16px;
    font-weight: bold;
    background: #adc7ca !important;
  }
  .mat-column-transaction_id {
    overflow: auto;
  
  }

}


